@model List<ITHelp.Models.WorkOrders>

<table class="table datatable table-striped" style="width: 100%">
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Full Text</th>
            <th>Date</th>            
            <th>Requestor</th>
            <th>Tech</th>
            <th>Status</th>
            <th>Dif</th>
            <th>Rev?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="blah @((item.Status ==2 || item.Status == 3) ? "table-info" : (item.DueDate.HasValue && item.DueDate < DateTime.Now) ? "table-danger" : "")">

                <td><a asp-action="details" asp-route-id="@item.Id">@item.Id</a></td>
                <td>@item.Title</td>
                <td>@item.FullText</td>
                @if(item.RequestDate.HasValue)
                {
                    <td data-sort="@item.RequestDate.Value.ToFileTimeUtc()">@item.RequestDate.Value.ToShortDateString()</td>
                } else
                {
                    <td></td>
                }
                <td>@item.RequestorValue</td>
                <td>@item.Tech?.Name</td>
                <td>@item.StatusTranslate?.StatusTranslated</td>
                <td>@item.Difficulty</td>
                <td data-sort="@item.Review"><input type="checkbox" asp-for="@item.Review" disabled class="form-check-input" /></td>
            </tr>
        }
    </tbody>
</table>
