@model List<ITHelp.Models.WorkOrders>
@{
	Layout = "_LayoutWide";
}
<form asp-action="BulkDelete">
<div>
	<div class="form-group row">		
		<div class="col-sm-3">
			<input type="submit" value="Delete" class="btn btn-primary" onclick="return confirm('Are you sure you want to delete these? There is no recovery from deletion');" />
		</div>
	</div>
	<div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th>Id</th>
					<th>Title</th>
					<th>Requested</th>
					<th>Due</th>
					<th>Requester</th>
					<th>Technician</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var row in Model)
				{
					<tr class="blah @((row.Status ==2 || row.Status == 3) ? "table-info" : (row.DueDate.HasValue && row.DueDate < DateTime.Now) ? "table-danger" : "")">
						<td><input type="checkbox" class="bigCheckbox" id="delete" name="delete" value="@row.Id" /></td>
						<td>@row.Id</td>
						<td>@row.Title</td>
						<td>@(row.RequestDate.HasValue ? row.RequestDate.Value.ToShortDateString() : "")</td>
						<td>@(row.DueDate.HasValue ? row.DueDate.Value.ToShortDateString() : "")</td>
						<td>@row.Requester?.Name</td>
						<td>@row.Tech?.Name</td>
						<td>@row.StatusTranslate?.StatusTranslated</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
</form>

