@model List<ITHelp.Models.UserRequestPermissions>

<div>
	<a asp-action="NewUserPermission" class="btn btn-primary">Create new Permission</a>
	<hr />
</div>

<div>
	<table class="table table-striped datatable">
		<thead>
			<tr>
				<th></th>
				<th>PI</th>
				<th>Delegate</th>
				<th>Current?</th>
				<th>S drive?</th>
				<th>AD Group</th>
				<th>Base Group</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach(var row in Model)
			{
				<tr>
					<td><a asp-action="EditUserPermission" asp-route-id="@row.Id" class="btn btn-primary">Edit</a></td>
					<td>@row.PIEmployee.Name</td>
					<td>@row.DelegateEmployee.Name</td>
					<td data-sort="@row.Current"><input type="checkbox" class="bigCheckbox" checked="@row.Current" /> @row.Current</td>
					<td data-sort="@row.SDrive"><input type="checkbox" class="bigCheckbox" checked="@row.SDrive" /></td>
					<td>@row.ADGroup</td>
					<td>@row.BaseGroup</td>
					<td>@row.PIEmployee.LastFirstName</td>
					<td>@row.DelegateEmployee.LastFirstName</td>
				</tr>
			}
		</tbody>
	</table>
</div>

@section Scripts {

	<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css" />

	<script>
		$(document).ready(function () {
			new DataTable('#example', {
				order: [[3, 'desc']]
			});
			
			$('.datatable').DataTable({
				dom: 'lfrtip',
				pageLength: 100,
				order: [[1, 'asc']],
				columnDefs: [
					{ 'orderData': [7,8], 'targets': [1] },
					{ 'orderData': [8, 7], 'targets': [2] },
					{
						targets: 7,
						searchable: false,
						visible: false
					},
					{
						targets: 8,
						searchable: false,
						visible: false
					}
				],
			});			
		});
	</script>
}
