@using System.Security.Claims;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model ITHelp.Models.WorkOrders

<div>
	@if(Model.Status == 4 && Model.Rating == null)
	{
		<form asp-action="SubmitRating">
			<input type="hidden" asp-for="Id" />
			<input type="hidden" asp-for="Rating" />
		<hr />
		<div class="col-sm-12">
			<h2>Rate the Service for this Work Order</h2>
				<div>Please rate by clicking the number of stars you feel the service deserved. You may also include any comments you would like to leave.</div>
			<div>
				<div class="card">
					<div class="row border">
						<div class="col">
							<span onclick="setRating(1)" class="star one">★</span>
							<span onclick="setRating(2)" class="star">★</span>
							<span onclick="setRating(3)" class="star">★</span>
							<span onclick="setRating(4)" class="star">★</span>
							<span onclick="setRating(5)"class="star">★</span>
					</div>
				</div>
					<h3 id="output">
						Rating is: 0/5
					</h3>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="RateComment" class="col-sm-12 col-form-label">Comments</label>
				<div class="col-sm-12 border">
						<textarea class="form-control-plaintext" style="height: 100px;" asp-for="RateComment"></textarea>
				</div>
			</div>
			<div>
				<input class="btn btn-primary" type="submit" value="Submit Rating" />
			</div>
		</div>
		</form>
	}
	<hr />
	<div class="form-group row">
		<label asp-for="Id" class="col-sm-3 col-form-label"></label>
		<div class="col-sm-9">
			<input type="text" asp-for="Id" readonly class="form-control-plaintext">
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="Title" class="col-sm-3 col-form-label"></label>
		<div class="col-sm-9">
			<input type="text" asp-for="Title" readonly class="form-control-plaintext">
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="Requester.Name" class="col-sm-3 col-form-label">Requested By</label>
		<div class="col-sm-9">
			<input type="text" asp-for="Requester.Name" readonly class="form-control-plaintext">
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="RequestDate" class="col-sm-3 col-form-label">Requested</label>
		<div class="col-sm-9">
			<input type="text" asp-for="RequestDate" readonly class="form-control-plaintext">
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="Tech.Name" class="col-sm-3 col-form-label">Technician</label>
		<div class="col-sm-9">
			<input type="text" asp-for="Tech.Name" readonly class="form-control-plaintext">
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="StatusTranslate.StatusTranslated" class="col-sm-3 col-form-label"></label>
		<div class="col-sm-9">
			<input type="text" asp-for="StatusTranslate.StatusTranslated" readonly class="form-control-plaintext">
		</div>
	</div>
	<div class="form-group">
		<label asp-for="FullText" class="col-sm-12 col-form-label"></label>
		<div class="col-sm-12 border">
			<textarea class="form-control-plaintext" style="height: 200px;" readonly asp-for="FullText"></textarea>
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="Contact" class="col-sm-3 col-form-label"></label>
		<div class="col-sm-9">
			<input type="text" asp-for="Contact" readonly class="form-control-plaintext">
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="Room" class="col-sm-3 col-form-label"></label>
		<div class="col-sm-2">
			<span class="form-control-plaintext">@Model.Room @(Model.Building.HasValue && Model.Building != 0 ? @Model.BuildingName.Name : "")</span>
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="ComputerTag" class="col-sm-3 col-form-label"></label>
		<div class="col-sm-9">
			<input type="text" asp-for="ComputerTag" readonly class="form-control-plaintext">
		</div>
	</div>
	@if (!string.IsNullOrWhiteSpace(Model.Resolution))
	{
		<div class="form-group row">
			<label asp-for="Resolution" class="col-sm-3 col-form-label"></label>
			<div class="col-sm-9">
				<input type="text" asp-for="Resolution" readonly class="form-control-plaintext">
			</div>
		</div>
	}
	@if (Model.CloseDate.HasValue)
	{
		<div class="form-group row">
			<label asp-for="CloseDate" class="col-sm-3 col-form-label"></label>
			<div class="col-sm-9">
				<input type="text" asp-for="CloseDate" readonly class="form-control-plaintext">
			</div>
		</div>
	}
	@if (Model.Status == 4 && Model.Rating != null && (this.User.IsInRole("admin") || this.User.IsInRole("manager") || this.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Sid).Value == Model.Technician || this.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Sid).Value == Model.SubmittedBy))
	{	<div class="form-group row">
			<label asp-for="Rating" class="col-sm-3 col-form-label"></label>
			<div class="col-sm-12">
				<div class="border">
					<div class="row border">
						<div class="col">
							<span class="star one">★</span>
							<span class="star">★</span>
							<span class="star">★</span>
							<span class="star">★</span>
							<span class="star">★</span>
						</div>
					</div>
					<h3 class="collapse" id="output">
						Rating is: 0/5
					</h3>
				</div>
				<input type="hidden" asp-for="Rating" />
			</div>
		</div>		
		<div class="form-group">
			<label asp-for="RateComment" class="col-sm-12 col-form-label">Rate Comments</label>
			<div class="col-sm-12 border">
				<textarea class="form-control-plaintext" style="height: 50px;" readonly asp-for="RateComment"></textarea>
			</div>
		</div>
	}
	<div class="form-group row">
		<label asp-for="CreatorValue" class="col-sm-3 col-form-label"></label>
		<div class="col-sm-9">
			<input type="text" asp-for="CreatorValue" readonly class="form-control-plaintext">
		</div>
	</div>	
	<div>
		<hr />
		@if (Model.Attachments.Any())
		{
			<table class="table table-striped table-info">
				<thead>
					<tr class="table-primary"><th>Attachments</th></tr>
				</thead>
				<tbody>
					@foreach (var attach in Model.Attachments)
					{
						<tr><td><a asp-action="GetFile" asp-route-id="@attach.WOId" asp-route-attachId="@attach.Id">@attach.Name</a></td></tr>
					}
				</tbody>
			</table>
		}
		<a class="btn btn-info" data-bs-toggle="collapse" href="#AddAttachment" role="button" aria-expanded="false" aria-controls="AddAttachment">Add New Attachment</a>
		<div class="card collapse" id="AddAttachment">
			<div class="card-body">
				<h5 class="card-title">Add New Attachment</h5>
				<form enctype="multipart/form-data" method="post" asp-action="AddFile">
					<input type="hidden" asp-for="Id" />
					<input id="file" name="file" type="file">
					<input class="btn btn-primary" type="submit" value="Upload" />
					<br>Allowed files: @Configuration["AllowedFiles"]

				</form>
			</div>
		</div>
	</div>
	<div>
		<hr />
		<form asp-action="AddComment">
			<input type="hidden" id="id" name="id" value="@Model.Id" />
			<div class="form-group row">
				<label for="Comment" class="col-sm-3 col-form-label">New Comment/Action:</label>
				<div class="col-sm-9">
					<textarea id="comment" name="comment" rows="3" cols="50"></textarea>
				</div>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Add Comment (tech will be notified)"/>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		$(document).ready(function () {
			var rating = $("#Rating").val();			
			setRating(rating)
		});

		let stars = $(".star"); 
		let output = $("#output"); 
				
		function setRating(n) {
			clear();
			for (let i = 0; i < n; i++) {
				if (n == 1) cls = "one";
				else if (n == 2) cls = "two";
				else if (n == 3) cls = "three";
				else if (n == 4) cls = "four";
				else if (n == 5) cls = "five";
				stars[i].className = "star " + cls;
			}
			output.html("Rating is: " + n + "/5");
			$("#Rating").val(n);
		}
		
		function clear() {
			let i = 0;
			while (i < 5) {
				stars[i].className = "star";
				i++;
			}
		}
				
	</script>
}
