@using System.Security.Claims;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model ITHelp.Models.WorkOrders


<div>
	<hr />
	<div class="form-group row">
		<label asp-for="Id" class="col-sm-3 col-form-label"></label>
		<div class="col-sm-9">
			<input type="text" asp-for="Id" readonly class="form-control-plaintext">
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="Title" class="col-sm-3 col-form-label"></label>
		<div class="col-sm-9">
			<input type="text" asp-for="Title" readonly class="form-control-plaintext">
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="Requester.Name" class="col-sm-3 col-form-label">Requested By</label>
		<div class="col-sm-9">
			<input type="text" asp-for="Requester.Name" readonly class="form-control-plaintext">
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="RequestDate" class="col-sm-3 col-form-label">Requested</label>
		<div class="col-sm-9">
			<input type="text" asp-for="RequestDate" readonly class="form-control-plaintext">
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="Tech.Name" class="col-sm-3 col-form-label">Technician</label>
		<div class="col-sm-9">
			<input type="text" asp-for="Tech.Name" readonly class="form-control-plaintext">
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="StatusTranslate.StatusTranslated" class="col-sm-3 col-form-label"></label>
		<div class="col-sm-9">
			<input type="text" asp-for="StatusTranslate.StatusTranslated" readonly class="form-control-plaintext">
		</div>
	</div>
	<div class="form-group">
		<label asp-for="FullText" class="col-sm-12 col-form-label"></label>
		<div class="col-sm-12 border">
			<textarea class="form-control-plaintext" style="height: 200px;" readonly asp-for="FullText"></textarea>
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="Contact" class="col-sm-3 col-form-label"></label>
		<div class="col-sm-9">
			<input type="text" asp-for="Contact" readonly class="form-control-plaintext">
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="Room" class="col-sm-3 col-form-label"></label>
		<div class="col-sm-2">
			<span class="form-control-plaintext">@Model.Room @Model.BuildingName.Name</span>
		</div>		
	</div>
	<div class="form-group row">
		<label asp-for="ComputerTag" class="col-sm-3 col-form-label"></label>
		<div class="col-sm-9">
			<input type="text" asp-for="ComputerTag" readonly class="form-control-plaintext">
		</div>
	</div>	
	@if (!string.IsNullOrWhiteSpace(Model.Resolution))
	{
		<div class="form-group row">
			<label asp-for="Resolution" class="col-sm-3 col-form-label"></label>
			<div class="col-sm-9">
				<input type="text" asp-for="Resolution" readonly class="form-control-plaintext">
			</div>
		</div>
	}
	<div class="form-group row">
		<label asp-for="CloseDate" class="col-sm-3 col-form-label"></label>
		<div class="col-sm-9">
			<input type="text" asp-for="CloseDate" readonly class="form-control-plaintext">
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="CreatorValue" class="col-sm-3 col-form-label"></label>
		<div class="col-sm-9">
			<input type="text" asp-for="CreatorValue" readonly class="form-control-plaintext">
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="Difficulty" class="col-sm-3 col-form-label"></label>
		<div class="col-sm-9">
			<input type="text" asp-for="Difficulty" readonly class="form-control-plaintext">
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="Review" class="col-sm-3 col-form-label"></label>
		<div class="col-sm-1">
			<span class="form-control-plaintext"><input type="checkbox" disabled asp-for="Review" readonly class="form-check-input"></span>
		</div>
	</div>

	<div>
		<hr />
		@if (Model.Attachments.Any())
		{
			<table class="table table-striped table-info">
				<thead>
					<tr class="table-primary"><th>Attachments</th></tr>
				</thead>
				<tbody>
					@foreach (var attach in Model.Attachments)
					{
						<tr><td><a asp-action="GetFile" asp-route-id="@attach.WOId" asp-route-attachId="@attach.Id">@attach.Name</a></td></tr>
					}
				</tbody>
			</table>
		}
		<a asp-action="addFile" asp-route-id="Id" class="btn btn-info">Add New Attachment</a>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Add New Attachment</h5>
				<form enctype="multipart/form-data" method="post" asp-action="AddFile">
					<input type="hidden" asp-for="Id" />
					<input id="file" name="file" type="file">
					<input class="btn btn-primary" type="submit" value="Upload" />
					<br>Allowed files: @Configuration["AllowedFiles"]

				</form>
			</div>
		</div>
	</div>
</div>
