@using System.Security.Claims;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model ITHelp.Models.WorkOrders


<div>
	<hr />
	<div class="form-group row">
		<label asp-for="Id" class="col-sm-3 col-form-label"></label>
		<div class="col-sm-9">
			<input type="text" asp-for="Id" readonly class="form-control-plaintext">
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="Title" class="col-sm-3 col-form-label"></label>
		<div class="col-sm-9">
			<input type="text" asp-for="Title" readonly class="form-control-plaintext">
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="Requester.Name" class="col-sm-3 col-form-label">Requested By</label>
		<div class="col-sm-9">
			<input type="text" asp-for="Requester.Name" readonly class="form-control-plaintext">
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="RequestDate" class="col-sm-3 col-form-label">Requested</label>
		<div class="col-sm-9">
			<input type="text" asp-for="RequestDate" readonly class="form-control-plaintext">
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="Tech.Name" class="col-sm-3 col-form-label">Technician</label>
		<div class="col-sm-9">
			<input type="text" asp-for="Tech.Name" readonly class="form-control-plaintext">
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="StatusTranslate.StatusTranslated" class="col-sm-3 col-form-label"></label>
		<div class="col-sm-9">
			<input type="text" asp-for="StatusTranslate.StatusTranslated" readonly class="form-control-plaintext">
		</div>
	</div>
	<div class="form-group">
		<label asp-for="FullText" class="col-sm-12 col-form-label"></label>
		<div class="col-sm-12 border">
			<textarea class="form-control-plaintext" style="height: 200px;" readonly asp-for="FullText"></textarea>
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="Contact" class="col-sm-3 col-form-label"></label>
		<div class="col-sm-9">
			<input type="text" asp-for="Contact" readonly class="form-control-plaintext">
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="Room" class="col-sm-3 col-form-label"></label>
		<div class="col-sm-2">
			<span class="form-control-plaintext">@Model.Room @(Model.Building != 0 ? @Model.BuildingName.Name : "" )</span>
		</div>		
	</div>
	<div class="form-group row">
		<label asp-for="ComputerTag" class="col-sm-3 col-form-label"></label>
		<div class="col-sm-9">
			<input type="text" asp-for="ComputerTag" readonly class="form-control-plaintext">
		</div>
	</div>	
	@if (!string.IsNullOrWhiteSpace(Model.Resolution))
	{
		<div class="form-group row">
			<label asp-for="Resolution" class="col-sm-3 col-form-label"></label>
			<div class="col-sm-9">
				<input type="text" asp-for="Resolution" readonly class="form-control-plaintext">
			</div>
		</div>
	}
	@if (Model.CloseDate.HasValue)
	{
		<div class="form-group row">
			<label asp-for="CloseDate" class="col-sm-3 col-form-label"></label>
			<div class="col-sm-9">
				<input type="text" asp-for="CloseDate" readonly class="form-control-plaintext">
			</div>
		</div>
	}
	<div class="form-group row">
		<label asp-for="CreatorValue" class="col-sm-3 col-form-label"></label>
		<div class="col-sm-9">
			<input type="text" asp-for="CreatorValue" readonly class="form-control-plaintext">
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="Difficulty" class="col-sm-3 col-form-label"></label>
		<div class="col-sm-9">
			<input type="text" asp-for="Difficulty" readonly class="form-control-plaintext">
		</div>
	</div>
	<div class="form-group row">
		<label asp-for="Review" class="col-sm-3 col-form-label"></label>
		<div class="col-sm-1">
			<span class="form-control-plaintext"><input type="checkbox" disabled asp-for="Review" readonly class="form-check-input"></span>
		</div>
	</div>
	<div class="row">		
		@if(this.User.IsInRole("admin") || this.User.IsInRole("manager"))
		{
			<div class="col-sm-3">Change Difficulty</div>
		}
		@if (Model.Difficulty > 1)
		{
			<div class="col-sm-3"><a asp-action="Decrease" asp-route-id="@Model.Id" class="btn btn-warning">Decrease Rating</a></div>
		}
		<div class="col-sm-3"><a asp-action="ToggleReview" asp-route-id="@Model.Id" class="btn btn-warning">Toggle Review</a></div>

	</div>

	<div>
		<hr />
		@if (Model.Attachments.Any())
		{
			<table class="table table-striped table-info">
				<thead>
					<tr class="table-primary"><th>Attachments</th></tr>
				</thead>
				<tbody>
					@foreach (var attach in Model.Attachments)
					{
						<tr><td><a asp-action="GetFile" asp-controller="WorkOrders" asp-route-id="@attach.WOId" asp-route-attachId="@attach.Id">@attach.Name</a></td></tr>
					}
				</tbody>
			</table>
		}
		<a class="btn btn-info" data-bs-toggle="collapse" href="#AddAttachment" role="button" aria-expanded="false" aria-controls="AddAttachment">Add New Attachment</a>
		<div class="card collapse" id="AddAttachment">
			<div class="card-body">
				<h5 class="card-title">Add New Attachment</h5>
				<form enctype="multipart/form-data" method="post" asp-action="AddFile">
					<input type="hidden" asp-for="Id" />
					<input id="file" name="file" type="file">
					<input class="btn btn-primary" type="submit" value="Upload" />
					<br>Allowed files: @Configuration["AllowedFiles"]
				</form>
			</div>
		</div>
	</div>
	<div>
		<hr />
		<form asp-action="AddComment">
			<input type="hidden" id="id" name="id" value="@Model.Id" />
			<div class="form-group row">
				<label for="Comment" class="col-sm-3 col-form-label">New Comment/Action:</label>
				<div class="col-sm-9">
					<textarea id="comment" name="comment" rows="3" cols="50"></textarea>
				</div>
			</div>
			<div class="form-group row">
				<label for="Email" class="col-sm-3 col-form-label">Email Requestor?</label>
				<div class="col-sm-9">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="emailRequestor" id="Yes" value="Yes">
						<label class="form-check-label" for="Yes">Yes</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="emailRequestor" id="No" value="No" checked>
						<label class="form-check-label" for="No">No</label>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="Status" class="col-sm-3 col-form-label">Update Status?</label>
				<div class="col-sm-9">
					<select id="Status" name="statusChange">
						<option value="0">Do not change</option>
						<option value="1">Open</option>
						<option value="2">Awaiting parts</option>
						<option value="3">Awaiting User</option>
						<option value="4">Closed</option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label for="ServiceTag" class="col-sm-3 col-form-label">Service Tag</label>
				<div class="col-sm-9">
					<input type="text" name="ServiceTag" id="ServiceTag" value="@Model.ComputerTag" />
				</div>
			</div>
			<div class="row col-sm-2">
				<input type="submit" class="btn btn-primary" value="Add Comment" />
			</div>
		</form>
		<hr />
	</div>	
		@if(Model.Actions.Any())
		{
			<div>
				<table class="table">
					<thead>
						<tr>
							<th>Date</th>
							<th>By</th>
							<th>Text</th>
						</tr>
					</thead>
					<tbody>
						@foreach(var action in Model.Actions)
					{
						<tr>
							<td>@action.Date.ToString()</td>
							<td>@action.SubmittedEmployee.Name</td>
							<td>@action.Text</td>
						</tr>
					}
				</tbody>
				</table>
			</div>
		}	
</div>
